<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.muliba.fancyfilepickerlibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.FilePickerActivity"
            android:theme="@style/FancyAppTheme" />
        <activity
            android:name=".ui.FileClassificationPickerActivity"
            android:theme="@style/FancyAppTheme" />
        <activity
            android:name=".ui.PictureLoaderActivity"
            android:theme="@style/FancyAppTheme" />
        <activity android:name=".ui.FileActivity"
            android:theme="@style/FancyAppTheme"></activity>
    </application>

</manifest>